@tailwind base;
@tailwind components;
@tailwind utilities;
@flowbite;


.bg-gkpgreen {
  background-color: #B1E4A7;
  border-color: #200;
}

.bg-button {
  background-color: #1b5e20;
}

.text-gkpgreen {
  color: #1b5e20;
  border-color: #200;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.carousel-item {
  flex: none;
  margin-right: 1rem;
}

.carousel-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scrollbar-container {
  overflow-x: auto;
  margin-top: 1rem;
}

.scrollbar-container::-webkit-scrollbar {
  height: 10px;
}

.scrollbar-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollbar-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.scrollbar-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

.scroll-to-top.visible {
  display: block;
}

.scroll-to-top.hidden {
  display: none;
}

.product-card {
  position: relative;
  overflow: hidden;
}

.product-card img {
  transition: transform 0.3s ease;
}

.product-card:hover img {
  transform: scale(1.1);
}

.product-card:hover .product-name {
  opacity: 1;
}

.product-name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  padding: 0.5rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.hover-effect:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.enlarged {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  max-width: 90%;
  max-height: 90%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

.overlay.show {
  display: block;
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
